/* [id^="card-"] {
    background-color: #A6B1E1; 
    color: white;
    border: #A6B1E1;
}

[id^="card-"]:hover {
    background-color: #9FA9E1;
    box-shadow: none;
    border: #9FA9E1;
} */

.todo-app {
    /* display: position; */
    flex-direction: column;
    height: 100vw;
    min-width: 100vw;
    justify-content: center;
}

/* .note-card-grid { */
    /* justify-content: center; */
    /* transition: all 0.2s; */
/* } */

.card {
    /* background-color: #A6D7C9;  */
    color: black;
    /* color: white; */
    border: #A6B1E1;
    transition: all 0.2s;
}

.card:hover {
    background-color: #9FA9E1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border: #9FA9E1;
    filter: brightness(95%);
}

.card:active {
    /* box-shadow: 4px 4px 5px rgba(0, 0, 0, 0); */
  filter: brightness(90%);

}

.form-check-input {
    margin-top: 6.5px;
}

/* 
#close-button>* {

}

#close-button>*:hover {
    fill: #000000;

} */

/* .note-modal { 
    width: auto;
    max-width: 5rem;
} */

.form-check {
    width: 100%;
}

.taskDeleteBttn {
    position: absolute;
    right: .5rem;
}

.text-space {
    resize: none;
}

.title {
    min-height: 2rem;
    resize: none;
}

*:focus {
    outline: none;
}
