@import '../../styles/custom.scss';

#create-new>* {
    fill: $primary;
    transition: fill 0.3s;
}

#create-new>*:hover {
    fill: $primary-hover;

}

#create-new>*:active {
    fill: $primary-active;
}

#btn-radio-label:hover {
    border-color: $primary-hover;
    background-color: $primary-hover; 
    color: white;
} 

#btn-radio-label {
    transition: all 0.2s;
}

#btn-radio-label:active {
    border-color: $primary-active;
    background-color: $primary-active;
}

.navbar.navbar-fixed-top {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
  }

// [id^="btn-radio-label"]:hover {
//     background-color: black;
// }

// [id^="btn-radio-"]:hover {
//     background-color: black;
// }

// [id^="btn-radio-"]:active {
//     background-color: #2359C3;
// }


//  #btn-mode-list {
//     background-color: #0E70F4;
//     border-color: #0E70F4;
// }