#cards {
    color: white;
    background-color: #A6B1E1;
    border: #A6B1E1;
}

#cards:hover {
    background-color: #9FA9E1;
    box-shadow: none;
}

.form-check {
    width: 100%;
}

.taskDeleteBttn {
    position: absolute;
    right: .5rem;
}

.text-space {
    resize: none;
}

.title {
    min-height: 2rem;
    resize: none;
}

*:focus {
    outline: none;
}
